{{#link-to 'listing' listing}}<h3>{{listing.title}} - {{listing.date}}</h3>{{/link-to}}
<button class="btn-delete pull-right" {{action 'deleteListing' listing}}><i class="fa fa-trash-o" aria-hidden="true"></i></button>
<br>
